In [48]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import os

if not os.path.exists("images"):
    os.mkdir("images")
import matplotlib.pyplot as plt


k=1.265569250534297
import scipy.constants as ct
from pylab import *

    dl   ri    V1    V2
0  1.0  6.6  9.22  8.70
1  0.5  6.2  9.23  8.71
2  0.5  5.6  9.24  8.71
3  0.5  5.2  9.23  8.71
4  0.5  4.6  9.22  8.71

In [66]:
p=pd.read_csv("Capacitat.csv",sep=';',decimal=',')
# ,na_filter=True,skip_blank_lines=True
# p3=p3.dropna()
# p3=p3.drop([3])
# P['dl'] = p['dl'].astype(float64)

p.head()
p["dl"]=p["dl"]/100
p["ri"]=p["ri"]/100
udl=1/1000
uri=1/1000
uV=0.01
l=len(p["ri"])-1
ui1=np.empty(l)
ui2=np.empty(l)
ui3=np.empty(l)
nu=np.empty(l)
i=1
while i<l:
    ui1[i]=p.at[i,"dl"]/p.at[i,"ri"]
    i=i+1
i=1
    
while i<l:
    ui2[i]=(p.at[i,"V1"]-p.at[i,"V2"])/p.at[i,"ri"]
    i=i+1
i=1

while i<l:
    ui3[i]=(p.at[i,"V1"]-p.at[i,"V2"])*p.at[i,"dl"]/p.at[i,"ri"]**2
    i=i+1
i=1
    
while i<l:
    nu[i]=uV**2*ui1[i]**2+udl**2*ui2[i]**2+uri**2*ui3[i]**2
    i=i+1
suma=0    
i=1

while i<l:
    suma=suma+nu[i]
    i=i+1

u=np.sqrt(suma)
uqz=suma
print(suma)

2.570338828605563

In [70]:
qz=23.0859
dv=9.9
udv=0.01

#Capacitat/Z
ucz=np.sqrt(uqz**2*(1/dv)**2+udv**2*(qz/dv**2)**2)
ucz

0.25964086931893876

In [78]:
d=6/100
h=0.1/100
ud=1/1000
uh=1/1000

np.sqrt(1/d**2*uh**2+h**2/d**4*ud**2)

0.016668981320752774