In [3]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import os

if not os.path.exists("images"):
    os.mkdir("images")
import matplotlib.pyplot as plt


k=1.265569250534297
import scipy.constants as ct
from pylab import *

In [34]:
p=pd.read_csv("Capacitat.csv",sep=';',decimal=',')
# ,na_filter=True,skip_blank_lines=True
# p3=p3.dropna()
# p3=p3.drop([3])
# P['dl'] = p['dl'].astype(float64)

p.head()

    dl   ri    V1    V2
0  1.0  6.6  9.22  8.70
1  0.5  6.2  9.23  8.71
2  0.5  5.6  9.24  8.71
3  0.5  5.2  9.23  8.71
4  0.5  4.6  9.22  8.71

In [47]:
udl=1/1000
uri=1/1000
uV=0.01
l=len(p["ri"])-1
ui1=np.empty(l)
ui2=np.empty(l)
ui3=np.empty(l)
nu=np.empty(l)
i=1
while i<l:
    ui1[i]=p.at[i,"dl"]/p.at[i,"ri"]
    i=i+1
i=1
    
while i<l:
    ui2[i]=(p.at[i,"V1"]-p.at[i,"V2"])/p.at[i,"ri"]
    i=i+1
i=1

while i<l:
    ui3[i]=(p.at[i,"V1"]-p.at[i,"V2"])*p.at[i,"dl"]/p.at[i,"ri"]**2
    i=i+1
i=1
    
while i<l:
    nu[i]=uV**2*ui1[i]**2+udl**2*ui2[i]**2+uri**2*ui3[i]**2
    i=i+1
suma=0    
i=1

while i<l:
    suma=suma+nu[i]
    i=i+1

u=np.sqrt(suma)
suma

0.006760597074480261

In [36]:
p

     dl   ri    V1    V2
0   1.0  6.6  9.22  8.70
1   0.5  6.2  9.23  8.71
2   0.5  5.6  9.24  8.71
3   0.5  5.2  9.23  8.71
4   0.5  4.6  9.22  8.71
5   0.5  3.9  9.23  8.71
6   0.5  3.3  9.21  8.70
7   0.5  2.6  9.23  8.69
8   0.5  2.2  9.22  8.70
9   0.5  1.8  9.23  8.69
10  0.5  1.4  9.23  8.71
11  0.5  1.1  9.22  8.70
12  0.5  0.8  9.23  8.69
13  0.5  0.5  9.21  8.71
14  0.5  0.3  9.22  8.70
15  0.5  0.3  9.22  8.70
16  0.5  0.3  9.22  8.70
17  0.5  0.3  9.22  8.70
18  0.5  0.3  9.22  8.70
19  0.5  0.3  9.22  8.70
20  0.5  0.3  9.22  8.70
21  0.5  0.3  9.22  8.70
22  0.5  0.3  9.22  8.70
23  0.5  0.3  9.22  8.70
24  0.5  0.3  9.22  8.70
25  0.5  0.3  9.22  8.70
26  0.5  0.3  9.22  8.70
27  0.5  0.3  9.22  8.70
28  0.5  0.3  9.22  8.70
29  0.5  0.3  9.22  8.70
30  0.5  0.3  9.22  8.70
31  0.5  0.3  9.22  8.70
32  0.5  0.3  9.22  8.70
33  0.5  0.3  9.22  8.70
34  0.5  0.3  9.22  8.70
35  0.5  0.3  9.22  8.70
36  0.5  0.5  9.21  8.71
37  0.5  0.8  9.23  8.69
38  0.5  1.1  9.22  8.70
39  0.5  1.4  9.23  8.71
40  0.5  1.8  9.23  8.69
41  0.5  2.2  9.22  8.70
42  0.5  2.6  9.23  8.69
43  0.5  3.3  9.21  8.70
44  0.5  3.9  9.23  8.71
45  0.5  4.6  9.22  8.71
46  0.5  5.2  9.23  8.71
47  0.5  5.6  9.24  8.71
48  0.5  6.2  9.23  8.71
49  0.5  6.6  9.22  8.70